<nav class="navbar navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand" appSidebar #ref="appSidebar"  class="hamburger is-closed">
            <img src="assets/icons/menu.png">
        </li>
        <li class="active">
            <img src="assets/icons/home.png">
            <span>Home</span>
        </li>
        <li>
            <img src="assets/icons/work.png">
            <span>Works</span>
        </li>
        <li>
            <img src="assets/icons/calendar.png">
            <span>Events</span>
        </li>
    </ul>
</nav>